body {
	background-color: var(--third-color);
}

main {
	min-height: 120vh;
	width: 80%;
	margin: 20px auto;
	align-items: center;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.logo-container {
	justify-content: center;
	align-items: center;
}

.text-container {
	justify-content: center;
	align-items: center;
}

main p {
	width: 100%;
	color: var(--primary-color);
}

span {
	font-size: 1rem;
}

section {
	align-items: center;
}

h3 {
	font-size: 70px;
	color: var(--primary-color);
	padding: 0;
	margin: 100px 0;
}

.intro-about {
	height: 100vh;
	background-image: url('../resources/images/about.jpg');
	background-size: cover;
}

.overlay {
	height: 100vh;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.intro-text-container {
	width: 40%;
	margin: 10% auto;
	font-style: italic;
	text-align: center;
	line-height: 1.5;
}

@media (max-width: 960px) {
	.grid-container {
		grid-template-columns: 1fr;
	}
	h3 {
		margin: 50px;
	}
	p {
		text-align: center;
	}

	.logo-container {
		margin-bottom: 100px;
	}
}
