body {
	/* color: var(--primary-color); */
	background-color: var(--silver);
}

.article-container {
	justify-content: center;
	align-items: center;
	width: 70%;
	margin: auto;
	align-items: center;
	/* background-color: #ebebeb;
	padding: 50px; */
}

.featured-image {
	width: 100%;
}
