body {
	background-color: var(--third-color);
}

.article-container {
	justify-content: center;
	align-items: center;
	width: 70%;
	margin: auto;
	align-items: center;
}

.featured-image {
	width: 100%;
}
.content {
	width: 80%;
	border-radius: 1rem;
	padding: 50px;
	margin: 50px 0;
	background-color: var(--light-gray);
	color: var(--primary-color);
}
