body {
	color: var(--primary-color);
	background-color: var(--third-color);
}

h2 {
	font-size: 64px;
}

main {
	margin-bottom: 200px;
}

.wrapper {
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

.wrapper p {
	width: 50%;
	font-size: 20px;
	line-height: 2;
	padding-bottom: 30px;
}

.contact-form {
	width: 50%;
	margin: auto;
}

input,
textarea {
	border: 1px none var(--primary-color);
	border-radius: 5px;
	min-height: 72px;
	margin: var(--standard-padding) 0;
	font-size: 20px;
	font-family: var(--paragraph-font);
	padding: 0 var(--standard-padding);
}

textarea {
	min-height: 300px;
	padding: var(--standard-padding);
	line-height: 2;
}

textarea::placeholder,
input::placeholder {
	color: rgb(206, 204, 204);
}

.error-div {
	background-color: #734e5b;
	width: 100%;
	margin-bottom: 20px;
	display: none;
	border-radius: 5px;
}

.error-div p {
	color: var(--light-gray);
	width: 100%;
	font-size: 20px;
	margin: 0;
	padding: var(--standard-padding);
}

.error-div i {
	color: var(--light-gray);
	font-size: 18px;
}

.modal {
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	width: 100%;
	position: fixed;
	height: 100%;
	z-index: 1;
	left: 0;
	top: 0;
	overflow: auto;
}

.modal-content {
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fefefe;
	border-radius: 5px;
	margin: 10% auto;
	padding: var(--standard-padding);
	width: 40%;
	min-height: 300px;
}

.modal-content > p,
button {
	margin: 10px;
}

.success-btn {
	width: 40%;
	background-color: #91bf95;
	cursor: pointer;
}

.modal-title {
	font-size: 25px;
	font-weight: 500;
}

@media (max-width: 960px) {
	.contact-form {
		width: 100%;
	}

	.wrapper p {
		width: 100%;
	}
}
