@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Colors */

:root {
	--primary-color: #404040;
	--secondary-color: #798c7a;
	--third-color: #a8bfaa;
	--light-gray: #f2f2f2;
	--cta-fill: #735050;
	--title-font: 'Raleway';
	--paragraph-font: 'Montserrat';
	--standard-padding: 20px;
}

/* Globals */

html {
	overflow-x: hidden;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--title-font);
	color: var(--light-gray);
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--title-font);
}

p,
a {
	font-family: var(--paragraph-font);
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

/* Utilites */

.flex {
	display: flex;
	justify-content: space-between;
}

.flex_col {
	display: flex;
	flex-direction: column;
}

.pagination {
	padding: 3rem;
	font-size: 18px;
}

.intro-pagination {
	position: absolute;
	top: 50%;
}

.current {
	border-bottom: solid 1px var(--primary-color);
}

.total {
	opacity: 1;
}

.title {
	font-size: 3rem;
}

.button i {
	padding-left: 5px;
}

.button {
	padding: var(--standard-padding);
	border: none;
	border-radius: 4px;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	width: 250px;
	cursor: pointer;
	display: flex;
	justify-content: center;
}

.button::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--cta-fill);
	left: 0;
	top: 0;
	z-index: -1;
	border-radius: 4px;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 200ms ease-in;
}

.button:hover::after {
	transform: scaleX(1);
	border: 1px solid hidden;
}

.button:active {
	transform: scale(0.9);
}

.splitter {
	border-bottom: 2px solid var(--primary-color);
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
	left: 90%;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Intro section */

section {
	height: 100vh;
	width: 100%;
	position: relative;
}

.intro {
	background-image: url(/resources/images/allan-nygren--xvKQuNtOhI-unsplash.jpg);
	background-size: cover;
	background-position: center center;
	justify-content: space-between;
}

/* Navbar */

.navbar {
	padding: var(--standard-padding) 0;
	margin: 0 10%;
	align-items: center;
	justify-content: space-between;
	color: var(--light-gray);
	top: 0;
}

.logo {
	width: 100px;
	padding: 0;
}

.links {
	color: var(--light-gray);
	right: 0;
	z-index: 999;
	top: -20px;
	list-style: none;
	position: absolute;
	background-color: var(--primary-color);
	height: 100vh;
	width: 400px;
	align-items: center;
	padding: 50px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in;
}

.nav-links-active {
	transform: translateX(0);
}

.navbar-container {
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
	width: 100%;
	position: fixed;
	height: 100%;
	z-index: 1;
	left: 0;
	top: 0;
	overflow: auto;
	/* transform: translateX(100%); */
	/* transition: transform 0.4s ease-in; */
}

.links ul {
	list-style: none;
	margin-bottom: 50px;
	align-items: center;
}

.nav-links li {
	padding: var(--standard-padding) 0;
	font-size: 32px;
	position: relative;
}

.nav-links li::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: var(--light-gray);
	transform: scaleX(0);
	transform-origin: middle;
	transition: transform 250ms ease-in;
}

.nav-links li:hover::after {
	transform: scale(1);
}

#open-box {
	align-self: flex-end;
}
.menu-box {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	background-color: var(--light-gray);
	color: var(--light-gray);
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	cursor: pointer;
}

.menu-box:hover {
	background-color: var(--cta-fill);
	transform: scale(1.1);
}

.menu-box:active {
	transform: scale(0.9);
}

.menu-box img {
	width: 50%;
}
/* Middle section of intro */

.middle {
	width: 50%;
	position: absolute;
	top: 40%;
	margin-left: calc(18.6% + 26px);
}

/* Ending section of intro */

.stream {
	background-color: var(--light-gray);
	width: 2px;
	margin-right: 50px;
	height: 100px;
	position: absolute;
	bottom: 0;
	right: 10%;
}

.stream::after {
	content: '';
	width: 100%;
	height: 50%;
	position: absolute;
	border-left: 2px solid var(--third-color);
	animation: stream 1.75s ease-out infinite;
}

@keyframes stream {
	0% {
		transform: translateY(0%);
	}
	100% {
		transform: translateY(220%);
	}
}

/* Trending section */

.trending {
	background: var(--third-color);
	height: 1000px;
	justify-content: center;
	gap: 50px 0px;
}

.trending-title {
	position: relative;
	color: var(--primary-color);
	margin: 0;
	margin-left: calc(18.6% + 26px);
}

.trending-page {
	color: var(--primary-color);
	width: 20px;
}

#trending-pagination {
	border-bottom: var(--primary-color) solid 1px;
}

.carousel-container {
	align-items: center;
	overflow: hidden;
}

.handle {
	background-color: var(--light-gray);
	height: 64px;
	width: 64px;
	border-radius: 64px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 150ms ease-in-out;
	position: absolute;
}

.handle:hover {
	background-color: var(--cta-fill);
	transform: scale(1.1);
}

.handle:hover i {
	color: var(--light-gray);
}

.handle i {
	color: var(--primary-color);
	transition: transform 400ms ease-in-out;
}

.left-handle {
	left: 120px;
	z-index: 2;
}
.right-handle {
	margin-right: 40px;
	right: 10px;
}

.slider {
	width: 80%;
	display: grid;
	grid-template-columns: repeat(10, 320px);
	--items-per-screen: 3;
	--slider-index: 0;
	transform: translateX(calc(var(--slider-index) * -70%));
	transition: transform 500ms ease-in-out;
}

.card {
	height: 400px;
	background-color: var(--primary-color);
	border-radius: 15px;
	margin: 0.5rem;
	z-index: 0;
	align-items: center;
	position: relative;
	justify-content: space-between;
	padding: var(--standard-padding);
}

.post-header {
	font-family: var(--title-font);
	text-align: center;
}

.post-header {
	font-size: 25px;
	line-height: 1.5;
}

.author {
	font-size: 14px;
	text-transform: capitalize;
}

.author-container {
	align-self: flex-start;
	align-items: center;
	padding: var(--standard-padding);
}

.author-image {
	width: 25px;
	height: 25px;
	border-radius: 25px;
}

.author-text-container {
	padding: 10px;
}

.author-text-container p {
	padding: 0;
	margin: 0;
}
.time {
	font-size: 12px;
}

/* About */

.about {
	background-color: var(--light-gray);
	align-items: center;
	color: var(--primary-color);
	height: 1000px;
}

.about-image {
	border-radius: 10px;
}

#about {
	border-bottom: var(--primary-color) 1px solid;
}
.about-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.about-container > * {
	padding: var(--standard-padding);
}

.image-wrapper img {
	max-width: 100%;
}

.image-wrapper {
	position: relative;
}

.a-tag-btn {
	border: 2px solid var(--primary-color);
	border-radius: 10px;
}

.a-tag-btn:active {
	transform: scale(0.9);
}

.dot {
	height: var(--standard-padding);
	width: var(--standard-padding);
	background-color: var(--light-gray);
	border-radius: var(--standard-padding);
	position: absolute;
}

.andy::after {
	content: 'Andy';
	position: absolute;
	background: var(--light-gray);
	color: var(--primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	top: -20px;
	left: -20px;
	font-size: 16px;
	font-weight: bold;
	height: 60px;
	width: 60px;
	border-radius: 30px;
	transform: scale(0);
	transition: transform ease-out 250ms;
}

.andy:hover::after {
	transform: scale(1);
}

.andy {
	left: 30%;
	top: 40%;
	font-size: 12px;
}

.dan {
	top: 45%;
	left: 42%;
}

.dan::after {
	content: 'Dan';
	position: absolute;
	background: var(--light-gray);
	color: var(--primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	top: -20px;
	left: -20px;
	font-size: 16px;
	font-weight: bold;
	height: 60px;
	width: 60px;
	border-radius: 30px;
	transform: scale(0);
	transition: transform ease-out 250ms;
}

.dan:hover::after {
	transform: scale(1);
}

.steve {
	right: 38%;
	top: 35%;
}

.steve::after {
	content: 'Steve';
	position: absolute;
	background: var(--light-gray);
	color: var(--primary-color);
	display: flex;
	justify-content: center;
	align-items: center;
	top: -20px;
	left: -20px;
	font-size: 16px;
	font-weight: bold;
	height: 60px;
	width: 60px;
	border-radius: 30px;
	transform: scale(0);
	transition: transform ease-out 250ms;
}

.steve:hover::after {
	transform: scale(1);
}

.text-wrapper {
	width: 70%;
}

.text-wrapper h3 {
	font-size: 2rem;
	padding: 0;
	margin: 0;
}

.history {
	margin: 0;
	padding: 0;
}

.block {
	line-height: 1.5;
	padding: var(--standard-padding) 0;
}

/* Contact */

.contact {
	color: var(--primary-color);
	background-color: var(--light-gray);
	align-items: center;
	height: 1000px;
}

.contact-page {
	position: absolute;
	left: 0;
	top: 50%;
}

.contact-container {
	position: absolute;
	align-items: center;
}

.contact-title {
	align-items: center;
	margin-top: 250px;
	margin-bottom: 100px;
}
.contact-us-title {
	font-size: 36px;
	line-height: 48px;
	font-weight: 700;
	padding: 0;
	margin: 0;
}

.lets-talk {
	color: var(--primary-color);
	font-size: 68px;
	line-height: 78px;
	font-weight: 700;
	padding: 0;
	margin: 0;
}

.contact-container p {
	width: 60%;
	font-size: 26px;
	line-height: 2;
}

/* Footer */

footer {
	color: var(--primary-color);
	background-color: var(--secondary-color);
	padding: 50px;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-position: center;
}

.socials i {
	font-size: 35px;
	margin: var(--standard-padding);
	cursor: pointer;
}

.copyright {
	align-items: center;
}

footer span {
	color: #0d0d0d;
}

/* Smaller screens */

@media (max-width: 960px) {
	.handle {
		display: none;
	}

	.intro-title {
		font-size: 2rem;
	}

	.trending-title {
		left: 0;
	}

	.about {
		height: 800px;
	}
	.about-container {
		grid-template-columns: 1fr;
	}

	.image-wrapper img {
		width: 100%;
	}
	.image-wrapper {
		max-width: 70%;
		margin: auto;
	}
	.dot {
		display: none;
	}
}
